.challengeBox{
  border-color:var(--black);
  border-radius: 10px;
  border-width: 5px;
  border-style: solid;
  margin:20px 0;
  box-shadow: 10px 10px 5px var(--black);
  width: 100%;
  height: 75px;
  padding: 5px;
}

.challengeBox .courseName {
  font-size: 16pt;
  text-align: center;
  margin: 0;
} .challengeBox .courseName a{color:white;}
.challengeBox .completionStatus {
  font-size: 16pt;
  position: absolute;
  float:left;
  height: 75px;
  margin: 0 0 0 10px;
  width: 75px;
}
 
.text{
    width: var(--width);
    display: block;
    margin:0 auto;
}
  

#completionButton{display: block; margin:0 auto;}