<html>
    <head>
      <title>CodeMonkey</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
    </head>

    <body>
        <header>
          
          <nav>

          </nav>
          
        </header>

        <main>
          <p>Add questions:</p>
          <form action="#" method="post">
            <div class="container">
              <label for="newQuestions"><b>Question:</b></label>
              <textarea>{{ challenges }}</textarea>
              <button type="submit">Submit</button>
              <button type="submit" name="saveAccounts" value="True">Save Accounts</button>
            </div>
          </form>
        </main>


        <footer>

        </footer>
    </body>
</html>