<html>
    <head>
      <title>CodeMonkey</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
    </head>

    <body>
        <header>
          
          <nav>

          </nav>
          
        </header>

        <main>
          <p>Add questions:</p>
          <form>
            <div class="container">
              <label for="uname"><b>Question:</b></label>
              <input type="text" placeholder="Question" name="newQuestions" required>
              <button type="submit">Submit</button>
          
            </div>
          </form>
        </main>


        <footer>

        </footer>
    </body>
</html>