<!DOCTYPE html>
<html lang="en-US">
  <head id>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" defer/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}" defer>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" defer/>
    <link rel="stylesheet" href="https://use.typekit.net/bsu0rwg.css" defer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <meta name="keywords" content="Code, Python, Programming, Learn">
    <meta name="author" content="Daniel Tomov">
    <title>Codemonkey Challenges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn to Code with courses designed to change how programming is taught">
    <style>
      main{
        width: 700px;
        margin:100px auto 0 auto;
      }
    </style>
  </head> 
  <body>
    <div id="body">
      <header id="header"></header>
      <main>
        <h1 style="color:white">Welcome, {{ username }}!</h1>
        {% for i in data %}
          <div class="challengeBox">
            {% if courseCompletion[i] == "complete" %}
              <img class="completionStatus" alt="check" src="{{ url_for('static', filename='images/check.png') }}"/>
            {% endif %}
            <p class="courseName"><a href="{{ '/challenge/' + i }}">{{ data[i]['name'] }}</a></p>
          </div>
        {% endfor %}
      </main>
      <footer id="footer"></footer>
    </div>
    <script defer>
      $("#header").load("{{ url_for('header') }}");
      $("#footer").load("{{ url_for('footer') }}");
    </script>
  </body>
</html>