<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='codemirror-5.65.11/lib/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" defer/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenge.css') }}" defer/>
    <link rel="stylesheet" href="https://use.typekit.net/bsu0rwg.css"/>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous+Pro" />
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <meta name="keywords" content="Code, Python, Programming, Learn">
    <meta name="author" content="Daniel Tomov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn to Code with courses designed to change how programming is taught">
    <title>Challenge Page</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}" defer>

    <!-- Create a simple CodeMirror instance -->
    <script src="{{ url_for('static', filename='codemirror-5.65.11/lib/codemirror.js') }}"></script>
    <script src="https://codemirror.net/5/mode/python/python.js"></script>

    <style>
      :root{
        --width:700px;
        --height:300px;
      }
      .responses{
        background-color: lightgray; 
        width:var(--width);
        height: fit-content;
        font-family: "Anonymous Pro"; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px;
        font-size: 16px;
      }

      textarea{
        width: var(--width);
        height: var(--height);
      }
      
      .correct{
        background-color: lime;
      }

      .incorrect{
        background-color: indianred;
      }

      h2{color:white}
      .text{color:white}

      .completionStatus{width:var(--width); margin:0 auto;}
      button{width:var(--width); margin:0 auto;}

      .question{width: var(--width); margin:0 auto 20px auto;}
      
    </style>
  </head>
  <body>
    <div id="body">
      <header id="header"></header>
      <main>
        <h2 id="pageTitle">{{ data[page]['name'] }}</h2>
        {% for i in data[page]['page'] %}
          {% if "text" in i %}
            <p class="text">{{ data[page]['page'][i] }}</p>
            <div class="divider"></div>
          {% endif %}
          {% if "question" in i %}
            <div class="question">
            {% for n in data[page]['page'][i] %}
              {% if n == 'text' %}
                <p class="text">{{ data[page]['page'][i]['text'] }}</p>
              {% endif %}
              {% if data[page]['page'][i][n] == 'textbox' %}
                {% if completion[data[page]['page'][i]['chal_id']|string][0] == 'complete' %}
                  <p class="completionStatus" style="background-color:green">Completed</p>
                {% else %}
                  <p class="completionStatus" style="background-color:red">Incomplete</p>
                {% endif %}
                <div id="{{ page + '_' + data[page]['page'][i]['name'] + '_' + data[page]['page'][i]['chal_id'] + 'textarea' }}" class="textAreaBox">
                  {% if completion[data[page]['page'][i]['chal_id']|string][1] != ''%}
                    <textarea class="textareas">{{ completion[data[page]['page'][i]['chal_id']|string][1] }}</textarea>
                  {% else %}
                    <textarea class="textareas">{{ data[page]['page'][i]['skeleton'] }}</textarea>
                  {% endif %}
                </div>
              {% endif %}
              {% if data[page]['page'][i][n] == 'submit' %}
                <button onclick="submitChallenge(this.id)" id="{{ page + '_' + data[page]['page'][i]['name'] + '_' + data[page]['page'][i]['chal_id'] + 'submitButton' }}" class="submitButtons" value="{{ page + ' ' + i + ' ' + data[page]['page'][i]['chal_id'] }}" type="button">Submit</button>
                <div id="{{ data[page]['page'][i]['chal_id'] + 'response' }}" class="responses"></div>
              {% endif %}
            {% endfor %}

          </div>
          {% endif %}
        {% endfor %}
      
        {% if courseCompletion[page] == "complete" %}
          <button type="submit" id="completionButton" style="background-color:green" name="button" value="{{ page + '_uncomplete'}}" disabled>Completed</button>
        {% else %}
          <button type="submit" id="completionButton" style="background-color:red" name="button" value="{{ page + '_complete'}}" disabled>Uncompleted</button>
        {% endif %}
        <footer id="footer"></footer>
      </main>
      <script defer>
        $("#header").load("{{ url_for('header') }}");
        $("#footer").load("{{ url_for('footer') }}");
      </script>
    </div>
  </body>


  
  <script>
    var responseClass = document.getElementsByClassName("responses");
    var completionStatus = document.getElementsByClassName("completionStatus");
    var listOfButtons = document.getElementsByClassName('submitButtons');
    var responseArray = [];
    var completionButton = document.getElementById("completionButton");
    var textAreas = document.getElementsByClassName("textAreaBox");
    var codeMirrors = [];
    var ctrlPressed = false;

    $(document).keydown(function(event) {
      let activeElement = document.activeElement;
      if (activeElement.tagName != "TEXTAREA"){
        return;
      }
      activeElement = activeElement.parentElement.parentElement.parentElement
      if (event.keyCode == 9) {  //tab pressed
        event.preventDefault(); // stops its action
        //console.log(activeElement);
        //insertAtCursor(activeElement.id, "    ");
      }
      
      if (event.keyCode == 13 && ctrlPressed){
        event.preventDefault();
        ctrlPressed = false;
        submitChallenge(activeElement.id.replace("textarea", ""));
      }
      if (event.keyCode == 17){
        if (ctrlPressed == false){
          ctrlPressed = true;
        }
        else{
          ctrlPressed = false;
        }
      } else {
        ctrlPressed = false;
      }
    });

    function submitChallenge(clicked_id){
      var id = clicked_id.replace("submitButton", "");
      var ids = id.split("_");
      document.getElementById(ids[2] + "response").innerHTML = "Running your code...";
      var chal_id = ids[0] + " " + ids[1] + " " + ids[2]
      let currentID = "";

      for (let i = 0; i < textAreas.length; i++){
        currentID = textAreas[i].id;
        if (currentID.includes(id)) {
          var the_code = codeMirrors[i].getValue();
          //var the_code = document.getElementById(id + "textarea").lastElementChild.getValue;
        }
      }
               
      
      $.ajax({
        url: "/recieve_data",
        type: "get",
        data: {code: btoa(the_code), chal_id:btoa(chal_id)},
        success: function(response) {
        document.getElementById(ids[2] + "response").innerHTML = (atob(response).replace(/  /g, "&nbsp;&nbsp;").replace("&nbsp; ", "&nbsp;&nbsp;"));
        checkChallenges();
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
  }

    function checkChallenges(){
      for (let i=0; i<responseClass.length; i++){
        if(responseClass[i].innerText.includes("Incorrect!")){
            completionStatus[i].innerText = "Incomplete";
            completionStatus[i].style.background = "red";
            responseArray[i] = "0";
          } else if(responseClass[i].innerText.includes("Error")){
            completionStatus[i].innerText = "Incomplete";
            completionStatus[i].style.background = "red";
            responseArray[i] = "0";
          } else if (responseClass[i].innerText.includes("Correct!")){
            responseArray[i] = "1";
            completionStatus[i].innerText = "Completed";
            completionStatus[i].style.background = "green";
          } else if(completionStatus[i].innerText.includes("Incomplete")){
            responseArray[i] = "0";
          }  else if(completionStatus[i].innerText.includes("Completed")) {
            responseArray[i] = "1";
          }
        }

        var counter = 0;
        for (let i=0; i<responseArray.length; i++){
          if (responseArray[i].includes("1")){
            counter++;
          }
        }

        if (counter == responseClass.length){
          completionButton.innerText = "Completed";
          completionButton.style.background = "green";
          var value = completionButton.value.split("_");
          completionButton.value = value[0] + "_complete"
        } else{
          completionButton.innerText = "Uncompleted";
          completionButton.style.background = "red";
          var value = completionButton.value.split("_");
          completionButton.value = value[0] + "_uncomplete"
        }
        
        var page_id = completionButton.value.split("_")[0];
        var status = completionButton.value.split("_")[1];

        $.ajax({
            url: "/completions",
            type: "get",
            data: {page_id:btoa(page_id), status:btoa(status)},
          error: function(xhr) {
            //Do Something to handle error
          }
        });
    }

    function getCookie(cname) {
      let name = cname + "=";
      let ca = document.cookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    function insertAtCursor(myFieldName, myValue) {

      for (let i = 0; i < textAreas.length; i++){
        currentID = textAreas[i].id;
        if (currentID.includes(id)) {
          codeMirrors[i].replaceSelection(myValue);
          //var the_code = document.getElementById(id + "textarea").lastElementChild.getValue;
        }
      }



      var myField = document.getElementById(myFieldName);
      //IE support
      if (document.selection) {
          myField.focus();
          sel = document.selection.createRange();
          sel.text = myValue;
      }
      //MOZILLA and others
      else if (myField.selectionStart || myField.selectionStart == '0') {
          var startPos = myField.selectionStart;
          var endPos = myField.selectionEnd;
          myField.value = myField.value.substring(0, startPos) + myValue + myField.value.substring(endPos, myField.value.length);
      } else {
          myField.value += myValue;
      }
    }

    let texts = document.getElementsByClassName("text");
    for (let i = 0; i < texts.length; i++){
      var text = texts[i].innerText.toString();
      texts[i].innerHTML = text.replace(/\^lb\^/g, "<br>");
    }

    checkChallenges();

    completionButton.addEventListener("click", function() {
      checkChallenges();
    });


    // Code mirror
    for (let i = 0; i < textAreas.length; i++){
      var editor = CodeMirror.fromTextArea(textAreas[i].firstElementChild, {
        lineNumbers: true,
        mode: {
          name: "python",
          version: 3,
          singleLineStringErrors: false
        },
        matchBrackets: true,
        extraKeys: {
          //Tab: false,
          "Enter": false,
          "Ctrl": false,
        }
      });
      codeMirrors.push(editor);
    }
    
    /*document.getElementsByTagName("body")[0].innerHTML = document.getElementsByTagName("body")[0].innerHTML.replace(/\\n\\n/g, "<br />"); */
  </script>
</html>