<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/codemirror.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/challenge.css') }}">
    <link rel="stylesheet" href="https://use.typekit.net/bsu0rwg.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Anonymous+Pro" >
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <meta name="keywords" content="Code, Python, Programming, Learn">
    <meta name="author" content="Daniel Tomov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn to Code with courses designed to change how programming is taught">
    
    <title>Challenge Page</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}">

    <!-- Create a simple CodeMirror instance -->
    <script src="{{ url_for('static', filename='js/codemirror.js') }}"></script>
    <script src="https://codemirror.net/5/mode/python/python.js"></script>
  </head>
  <body>
    <div id="body">
      <header id="header"></header>
      <main>
        <h2 id="pageTitle">{{ data[page]['name'] }}</h2>
        {% for i in data[page]['page'] %}
          {% if "text" in i %}
            <p class="text">{{ data[page]['page'][i] }}</p>
            <div class="divider"></div>
          {% elif "codeblock" in i %}
            <div id="{{ i }}" class="codeblock textAreaBox">
              <textarea id="{{ i + 'text' }}" class="textareas">{{ data[page]['page'][i] }}</textarea>
              <button onclick="runCodeblock(this.id)" id="{{ i + 'submitButton' }}">Run this code</button>
              <div class="codeblockResponses" id="{{ i + 'response' }}"></div>
            </div>
          {% elif "subheading" in i %}
            <h3 class="subheading">{{ data[page]['page'][i] }}</h3>
          {% elif "list" in i %}
            <div class="list">
              <ul>
                {% for n in data[page]['page'][i] %}
                  <li><p class="text">{{ data[page]['page'][i][n] }}</p></li>
                {% endfor %}
              </ul>
            </div>
          {% elif "question" in i %}
            <div class="question">
            {% for n in data[page]['page'][i] %}
              {% if 'text' in n %}
                <p class="text">{{ data[page]['page'][i]['text'] }}</p>
              {% endif %}
              {% if data[page]['page'][i][n] == 'textbox' %}
                {% if completion[data[page]['page'][i]['chal_id']|string][0] == 'complete' %}
                  <p class="completionStatus" style="background-color:green">Completed</p>
                {% else %}
                  <p class="completionStatus" style="background-color:red">Incomplete</p>
                {% endif %}
                <div id="{{ page + '_' + data[page]['page'][i]['name'] + '_' + data[page]['page'][i]['chal_id'] + 'textarea' }}" class="textAreaBox">
                  {% if completion[data[page]['page'][i]['chal_id']|string][1] != ''%}
                    <textarea class="textareas">{{ completion[data[page]['page'][i]['chal_id']|string][1] }}</textarea>
                  {% else %}
                    <textarea class="textareas">{{ data[page]['page'][i]['skeleton'] }}</textarea>
                  {% endif %}
                </div>
              {% endif %}
              {% if data[page]['page'][i][n] == 'submit' %}
                <button onclick="submitChallenge(this.id)" id="{{ page + '_' + data[page]['page'][i]['name'] + '_' + data[page]['page'][i]['chal_id'] + 'submitButton' }}" class="submitButtons" value="{{ page + ' ' + i + ' ' + data[page]['page'][i]['chal_id'] }}" type="button">Submit</button>
                <div id="{{ data[page]['page'][i]['chal_id'] + 'response' }}" class="responses"></div>
                <div id="{{ data[page]['page'][i]['chal_id'] + 'response_output' }}" class="response_outputs"></div>
              {% endif %}
            {% endfor %}

          </div>
          {% endif %}
        {% endfor %}
      
        {% if courseCompletion[page] == "complete" %}
          <button type="submit" id="completionButton" style="background-color:green" name="button" value="{{ page + '_uncomplete'}}" disabled>Completed</button>
        {% else %}
          <button type="submit" id="completionButton" style="background-color:red" name="button" value="{{ page + '_complete'}}" disabled>Uncompleted</button>
        {% endif %}
        <footer id="footer"></footer>
      </main>
    </div>
  </body>
  <script>
    $("#header").load("{{ url_for('header') }}");
    $("#footer").load("{{ url_for('footer') }}");
  </script>
  <script defer src="{{ url_for('static', filename='js/challenges.js') }}" type="text/javascript"></script>
  <script defer src="{{ url_for('static', filename='js/skulpt.js') }}" type="text/javascript"></script>
<script defer src="https://skulpt.org/js/skulpt.min.js" type="text/javascript"></script> 
<script defer src="https://skulpt.org/js/skulpt-stdlib.js" type="text/javascript"></script> 
</html>