
        <a href="/"><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Company Logo" class="avatar"></a>
        <nav class="nav">
          <ul>
            <li><a href="/challenge">Challenges</a></li>
            <li><a href="/about">About</a></li>
            {% if admin == True %}
            <li><a href="/admin">Admin</a></li>
            <li><a href="/admin/status">Status</a></li>
            {% endif %}
            {% if login != True %}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {% else %}
              <li><a href="/logout">Logout</a></li>
            {% endif %}
          </ul>
        </nav>