
        <a href="/"><img src="{{ url_for('static', filename='images/logo2.png') }}" alt="Avatar" class="avatar"></a>
        <nav class="nav">
          <ul>
            <li><a href="/challenge">Challenges</a></li>
            <li><a href="/about">About</a></li>
            {% if admin == True %}
            <li><a href="/admin">Admin</a></li>
            <!--<li><a href="test">Test</a></li>-->
            {% endif %}
            {% if login != True %}
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>
        </nav>