<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
    <head>
    <title>CodeMonkey</title>
    
    </head>

    <body>
      
        <header>
          <p class="title">Welcome to Code Monkey</p>
          <nav>
            <ul>
              <li><a class="active" href="#home">Home</a></li>
              {% if login != True %}
                <li><a href="login">Login</a></li>
              {% endif %}
              <li><a href="challenge">Challenges</a></li>
              <li><a href="#about">About</a></li>
              {% if admin == True %}
                <a href="admin">Login</a>
                <a href="test">Login</a>
              {% endif %}
            </ul>
          </nav>
          
        </header>

        <main>
          
        </main>


        <footer>

        </footer>
    </body>
</html>