<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Codemonkey Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" defer/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" defer/>
    <link rel="stylesheet" href="https://use.typekit.net/bsu0rwg.css" defer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}" defer>
  </head>
  <body>
    <div id="body">
      <header id="header"></header>
      <main id="loginForm">
        {% if wrongPassword %}
        <div id="wrongPassword">
          <p>You have entered incorrect credentials</p>
        </div>
        {% endif %}
        <form action="#" method="post">
          <div class="container">
            <label for="uname"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="uname" required>
        
            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="psw" required>
        
            <button type="submit">Login</button>
          </div>
        </form>

        <div class="loginOptions">
          <a href="/home"><button>Cancel</button></a>
          <a href="/register"><button>Register</button></a>
        </div>
      </main>      
      <footer id="footer"></footer>
    </div>
    <script defer>
      $("#header").load("{{ url_for('header') }}");
      $("#footer").load("{{ url_for('footer') }}");
    </script>
  </body>
</html>