<head>
  <title>CodeMonkey</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}"/>
</head>
<body>
  
  <div class="imgcontainer">
    <img src="{{ url_for('static', filename='images/logo.jpeg') }}" alt="Avatar" class="avatar">
  </div>
  <form action="#" method="post">
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit">Login</button>
    </div>
  
  </form>
    <div class="container" style="background-color:#f1f1f1">
      <form action="#" method="post">
        <button type="submit" name="uname" value="loginCancel" class="cancelbtn">Cancel</button>
      </form>
    </div>

  
</body>