<!DOCTYPE html>
<html lang="en-US">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" defer/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" defer/>
    <link rel="stylesheet" href="https://use.typekit.net/bsu0rwg.css" defer>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <meta name="keywords" content="Code, Python, Programming, Learn">
    <meta name="author" content="Daniel Tomov">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn to Code with courses designed to change how programming is taught">
    <title>Codemonkey Register</title>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}" defer>

    <style>
      label{
        color:white;
      }

      .container{
        width:700px;
        margin:0 auto;
      }
      
    </style>

  </head>
  <body>
    <div id="body">
      <header id="header"></header>
        
      <main id="loginForm">
        <div class="container">
          <label for="uname"><b>Username</b></label>
          <input type="text" id="username" placeholder="Enter Username" name="uname" required>

          <label for="uname"><b>Email</b></label>
          <input type="text" id="email" placeholder="Enter Email" name="email" required>

          <label for="psw"><b>Password</b></label>
          <input type="password" id="password" placeholder="Enter Password" name="psw" required>

          <button onclick="submitRegister()" type="submit">Register</button>
        </div>
        
        <div class="container">
          <a href="/home"><button>Cancel</button></a>
          <a href="/login"><button>Login</button></a>
        </div>
      </main>
        <footer id="footer"></footer>
    </div>
    <script defer>
      $("#header").load("{{ url_for('header') }}");
      $("#footer").load("{{ url_for('footer') }}");
    </script>
  </body>
  <script defer>
    function submitRegister(){
      var username = document.getElementById("username").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      if (email.includes("@") && email.includes(".") && username != "" && password.length >= 8) {
        $.ajax({
          url: "/registerForm",
          type: "get",
          data: {uname: btoa(username), email:btoa(email), psw:btoa(password)},
          success: function(response) {
            alert(atob(response));
        },
        error: function(xhr) {
          alert("There has been an error in sending your credentials. Please try again later.");
        }
      });
    } else {
      alert("Please fill out all forms correctly");
    }
  }
  </script>
</html>