<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>CodeMonkey</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}" defer/>
    <link rel="icon" type="image/jpg" href="{{ url_for('static', filename='images/favicon.png') }}" defer>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" defer/>
    <link rel="stylesheet" href="https://use.typekit.net/bsu0rwg.css" defer>
    <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
    <meta name="keywords" content="Code, Python, Programming, Learn">
    <meta name="author" content="Daniel Tomov">
    <title>Challenges</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Learn to Code with courses designed to change how programming is taught">

    <style>
      label{
        color:white;
      }

      .container{
        width:700px;
        margin:0 auto;
      }
      
    </style>

  </head>
  <body>
    <div id="body">
      <header id="header"></header>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input type="text" id="username" placeholder="Enter Username" name="uname" required>

        <label for="uname"><b>Email</b></label>
        <input type="text" id="email" placeholder="Enter Email" name="email" required>

        <label for="psw"><b>Password</b></label>
        <input type="password" id="password" placeholder="Enter Password" name="psw" required>

        <button onclick="submitRegister()" type="submit">Login</button>
      </div>
      
      <div class="container">
        <a href="/home"><button>Cancel</button></a>
        <a href="/register"><button>Register</button></a>
        <a href="/login"><button>Login</button></a>
      </div>
      <footer id="footer"></footer>
    </div>
    <script defer>
      $("#header").load("{{ url_for('header') }}");
      $("#footer").load("{{ url_for('footer') }}");
    </script>
  </body>
  <script>
    function submitRegister(){
      var username = document.getElementById("username").value;
      var email = document.getElementById("email").value;
      var password = document.getElementById("password").value;
      var response = document.getElementById("response");
      if (email.includes("@") && email.includes(".") && username != "" && password.length >= 8) {
        $.ajax({
          url: "/registerForm",
          type: "get",
          data: {uname: btoa(username), email:btoa(email), psw:btoa(password)},
          success: function(response) {
            alert(atob(response))
        },
        error: function(xhr) {
          //Do Something to handle error
        }
      });
    } else {
      alert("Please fill out all forms correctly");
    }
  }
  </script>
</html>